  
<%- include("header.ejs" ) %>
    <title><% if (typeof title !== "undefined" && title) { %> <%= title %> <% } %></title>
    <link rel="stylesheet" type="text/css" href=<%if (environment === "Production") { %> "/docker-hbv-kms-http/fileserver?name=dashboard.styles.css" <% } else { %> "/docker-hbv-kms-http/fileserver?name=dashboard.styles.css" <% } %>>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.1/dist/chart.min.js"></script>
    <span id="environment" style="display: none"><%= environment %></span>
  </head>
  <body>
    <%- include("navbar.ejs") %>

    <div class="container mt-5">
      <h1>Admin Dashboard</h1>
    </div>      

    <% if (typeof data !== "undefined" && data && JSON.parse(data).length > 0) { %>
      <% const dataset = JSON.parse(data) %>
      <% if (JSON.parse(data).length > 20) { %>
        <script src=<%if (environment === "Production") { %> "/docker-hbv-kms-http/fileserver?name=dashboard.chartjs.js" <% } else { %> "/docker-hbv-kms-http/fileserver?name=dashboard.chartjs.js" <% } %>></script>
        <div class="container" id="dashboard-plot-view-wrapper">
          <div class="dashboard-plot-container-wrapper">
            <div class="dashboard-plot-container-lg">
              <canvas id="dashboard-plot-canvas-1" class="canvas"></canvas>
            </div>
          </div>
          <div class="dashboard-plot-container-wrapper">
            <div class="dashboard-plot-container-sm">
              <canvas id="dashboard-plot-canvas-2" class="canvas"></canvas>
            </div>
            
            <div class="dashboard-plot-container-sm">
              <canvas id="dashboard-plot-canvas-3" class="canvas"></canvas>
            </div>
            
            <div class="dashboard-plot-container-sm">
              <canvas id="dashboard-plot-canvas-4" class="canvas"></canvas>
            </div>

            <div class="dashboard-plot-container-sm">
              <canvas id="dashboard-plot-canvas-5" class="canvas"></canvas>
            </div>
          </div>          
        </div>
      <% } %>

      <div class="container">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">distance</th>
              <th scope="col">age</th>
              <th scope="col">gender</th>
              <th scope="col">basic emotion</th>
              <th scope="col">pleasure state</th>
              <th scope="col">excitement state</th>
              <th scope="col">smile state</th>
              <th scope="col">dialog time</th>
              <th scope="col">timestamp</th>
            </tr>
          </thead>
          <tbody>
          <% for(let i = 0; i < dataset.length; i++) { %>
            <% data = dataset[i] %>
            <tr>
              <th scope="row"><%=i+1%></th>
              <td><%= data["distance"] %></td>
              <td><%= data["age"] %></td>
              <td><%= data["gender"] %></td>
              <td><%= data["basic_emotion"] %></td>
              <td><%= data["pleasure_state"] %></td>
              <td><%= data["excitement_state"] %></td>
              <td><%= data["smile_state"] %></td>
              <td><%= data["dialog_time"] %></td>
              <td><%= data["ts"] %></td>
            </tr>
          <% } %>
          </tbody>
        </table>
      </div>
    <% } %>
  </body>
</html>